.list-item-hover-in.list-item-cv .mini-cv {
  animation: opacity-animation 0.5s forwards;
}

@keyframes opacity-animation {
  to {
    opacity: 0.3;
  }
}
.list-item-hover-in.list-item-cv .mini-cv .human {
  transition: bottom 0.7s 0.5s ease-out;
  bottom: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(1) {
  transition: left 1.063325566s 0.9408797136s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(2) {
  transition: left 0.612120581s 0.9281844258s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(3) {
  transition: left 1.3035077245s 0.9754834312s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(4) {
  transition: left 0.6626633348s 1.3161808519s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(5) {
  transition: left 1.0998304532s 1.1879995428s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(1) {
  transition: left 1.1745077097s 0.7358613665s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(2) {
  transition: left 0.9335918189s 0.7958790227s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(3) {
  transition: left 1.1495853516s 1.3291239124s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(4) {
  transition: left 1.355939643s 1.097659194s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(5) {
  transition: left 1.479559578s 1.2506928003s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(6) {
  transition: left 0.6646560749s 1.1042871951s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(7) {
  transition: left 0.6787480776s 0.693070072s;
  left: 0%;
}

.list-item-hover-out.list-item-cv .mini-cv {
  animation: opacity-animation-reverse 1s forwards;
}

@keyframes opacity-animation-reverse {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}
@keyframes waifu-filter-animation {
  to {
    filter: blur(3px) grayscale(100%);
  }
}
.list-item-hover-in.list-item-waifu .background-image {
  animation: waifu-filter-animation 3s 0.5s forwards;
}

.list-item-hover-in.list-item-waifu .mona-svg {
  transform: rotateX(180deg);
}

.list-item-hover-in.list-item-waifu .water-curtain .mona, .list-item-hover-in.list-item-waifu .water-curtain .gray-mona {
  height: 100%;
  border-bottom: 3px solid gray;
}

.list-item-hover-in.list-item-waifu .water-curtain .mona {
  transition: height 1s 0.8s;
}

.list-item-hover-in.list-item-waifu .water-curtain .gray-mona {
  transition: height 1s 0.5s;
}

.list-item.list-item-hover-in {
  cursor: pointer;
  transition: box-shadow 0s 0s;
  box-shadow: 0px 0px 0px 0px white;
  animation: dimension-animation 0.3s 0.3s forwards;
}

@keyframes dimension-animation {
  to {
    height: 15rem;
    width: 10rem;
  }
}
@keyframes text-shadow-animation {
  to {
    text-shadow: 0px 0px 5px black;
  }
}
@keyframes cube-animation {
  to {
    transform: rotateX(-180deg);
  }
}
@keyframes image-container-animation {
  from {
    border: 0px solid white;
    box-shadow: 0px 0px 0px 0px black;
  }
  to {
    border: 1px solid white;
    box-shadow: 0px -3px 3px 0px black;
  }
}
@keyframes rotate-animation {
  from {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(45deg);
  }
}
@keyframes filter-animation {
  from {
    filter: grayscale(100%) blur(3px);
  }
  to {
    filter: grayscale(0%) blur(0px);
  }
}
.list-item.list-item-hover-in a {
  animation: text-shadow-animation 0.3s forwards;
}

.list-item.list-item-hover-in .cube {
  animation: cube-animation 0.3s forwards;
}

.list-item.list-item-hover-in .background-image-container {
  animation: image-container-animation 0.3s 0.3s forwards, rotate-animation 0.3s 0.6s forwards;
}

.list-item.list-item-hover-out {
  animation: dimension-animation-reverse 0.6s forwards;
}

@keyframes dimension-animation-reverse {
  0% {
    height: 15rem;
    width: 10rem;
  }
  50% {
    height: 3rem;
    width: 10rem;
  }
  100% {
    height: 3rem;
    width: 15rem;
  }
}
@keyframes text-shadow-animation-reverse {
  0%, 66% {
    text-shadow: 0px 0px 5px black;
  }
  100% {
    text-shadow: 0px 0px 0px black;
  }
}
@keyframes cube-animation-reverse {
  0%, 66% {
    transform: rotateX(-180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes image-container-animation-reverse {
  0%, 66% {
    border: 1px solid white;
    box-shadow: 0px -3px 3px 0px black;
  }
  100% {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 0px black;
  }
}
@keyframes rotate-animation-reverse {
  0%, 66% {
    transform: translate(-50%, -50%) rotateX(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
}
.list-item.list-item-hover-out .cube {
  animation: cube-animation-reverse 0.9s forwards;
}

.list-item.list-item-hover-out a {
  animation: text-shadow-animation-reverse 0.9s forwards;
}

.list-item.list-item-hover-out .background-image-container {
  animation: image-container-animation-reverse 0.9s forwards, rotate-animation-reverse 0.9s forwards;
}

.list-item.list-item-mouse-down {
  transform: translateY(5px);
}

.list-item.list-item-hover-in-siblings {
  opacity: 0;
  transition: 0.3s 0.3s;
}

.list-item {
  opacity: 1;
  transition: 0.3s;
}

.mini-cv {
  height: 100%;
  width: 100%;
  background: black;
  position: relative;
  display: grid;
  grid-template-areas: "photo details" "content content";
  padding: 10%;
  grid-gap: 5%;
  opacity: 0;
  transform: rotateZ(180deg);
}

.mini-cv .details .line:nth-of-type(1) {
  left: 100%;
}

.mini-cv .details .line:nth-of-type(2) {
  left: -100%;
}

.mini-cv .details .line:nth-of-type(3) {
  left: -100%;
}

.mini-cv .details .line:nth-of-type(4) {
  left: 100%;
}

.mini-cv .details .line:nth-of-type(5) {
  left: 100%;
}

.mini-cv .content .line:nth-of-type(1) {
  left: 100%;
}

.mini-cv .content .line:nth-of-type(2) {
  left: 100%;
}

.mini-cv .content .line:nth-of-type(3) {
  left: -100%;
}

.mini-cv .content .line:nth-of-type(4) {
  left: -100%;
}

.mini-cv .content .line:nth-of-type(5) {
  left: -100%;
}

.mini-cv .content .line:nth-of-type(6) {
  left: -100%;
}

.mini-cv .content .line:nth-of-type(7) {
  left: -100%;
}

.photo {
  grid-area: photo;
  background: white;
}

.photo .human {
  height: 100%;
  width: 100%;
  bottom: -100%;
  position: relative;
}

.photo .human .head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: black;
}

.photo .human .body {
  position: absolute;
  top: 50%;
  bottom: 0;
  background: black;
  height: 50%;
  width: 100%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.details {
  grid-area: details;
}

.content {
  grid-area: content;
}

.details,
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.line {
  height: 0.2rem;
  width: 100%;
  background: white;
  position: relative;
}

.line::after, .line::before {
  content: "";
  height: 0.2rem;
  width: 0.2rem;
  background: black;
  position: absolute;
  top: 0;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(1)::after {
  left: 52.4122821743%;
  width: 0.6287296633rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(1)::before {
  left: 91.3187945029%;
  width: 0.172086468rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(2)::after {
  left: 93.8301869995%;
  width: 0.8475149993rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(2)::before {
  left: 91.396152592%;
  width: 0.782444035rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(3)::after {
  left: 45.336584377%;
  width: 0.6085609298rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(3)::before {
  left: 30.5519544293%;
  width: 0.7562065495rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(4)::after {
  left: 82.7428685155%;
  width: 1.0753762287rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(4)::before {
  left: 73.4988917983%;
  width: 0.429606654rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(5)::after {
  left: 50.6383785999%;
  width: 0.4658477796rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(5)::before {
  left: 39.4666520803%;
  width: 0.7043033354rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(1)::after {
  left: 91.8630282329%;
  width: 0.7709742562rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(1)::before {
  left: 69.2706560761%;
  width: 0.8680437619rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(2)::after {
  left: 27.7659629186%;
  width: 0.6725571833rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(2)::before {
  left: 16.319165073%;
  width: 0.9135185062rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(3)::after {
  left: 30.5351411948%;
  width: 0.4350351083rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(3)::before {
  left: 58.60909625%;
  width: 0.7150345206rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(4)::after {
  left: 43.7110268934%;
  width: 0.1452787213rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(4)::before {
  left: 62.0786095496%;
  width: 0.4707827278rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(5)::after {
  left: 3.0451551259%;
  width: 0.3112293964rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(5)::before {
  left: 82.8790683975%;
  width: 0.6379103569rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(6)::after {
  left: 90.4967205502%;
  width: 1.064184956rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(6)::before {
  left: 57.413836304%;
  width: 0.4035685269rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(7)::after {
  left: 0.5411623844%;
  width: 0.2284470468rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(7)::before {
  left: 73.5351216913%;
  width: 0.7713491295rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(1)::after {
  left: 94.3848868043%;
  width: 0.6262647807rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(1)::before {
  left: 23.547595232%;
  width: 0.7563983228rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(2)::after {
  left: 2.0045589565%;
  width: 0.8106431595rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(2)::before {
  left: 55.12776593%;
  width: 0.4307578742rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(3)::after {
  left: 18.0929138294%;
  width: 0.9486795592rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(3)::before {
  left: 52.6743174899%;
  width: 1.0555460387rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(4)::after {
  left: 63.9038508613%;
  width: 0.6647181938rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(4)::before {
  left: 64.5579139567%;
  width: 0.7693089697rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(5)::after {
  left: 93.3766604483%;
  width: 0.3808183772rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(5)::before {
  left: 27.7222943604%;
  width: 0.2791015768rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(1)::after {
  left: 39.8691176758%;
  width: 0.6845293724rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(1)::before {
  left: 42.3782004946%;
  width: 0.9498426604rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(2)::after {
  left: 79.4333970591%;
  width: 0.4432626936rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(2)::before {
  left: 0.0452529526%;
  width: 0.9968147208rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(3)::after {
  left: 61.235018609%;
  width: 0.5533297248rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(3)::before {
  left: 32.8897134144%;
  width: 0.2808180931rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(4)::after {
  left: 9.5189570343%;
  width: 1.0143134587rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(4)::before {
  left: 42.5185785766%;
  width: 0.4560875927rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(5)::after {
  left: 86.854152933%;
  width: 0.9716549414rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(5)::before {
  left: 82.6792590261%;
  width: 0.9315619172rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(6)::after {
  left: 3.959334564%;
  width: 0.5342797573rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(6)::before {
  left: 8.8409527207%;
  width: 0.455115099rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(7)::after {
  left: 99.7202371849%;
  width: 0.5175112818rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(7)::before {
  left: 20.2165116387%;
  width: 1.0862643472rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(1)::after {
  left: 96.2688768171%;
  width: 1.0749101764rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(1)::before {
  left: 2.6987448028%;
  width: 0.1279014575rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(2)::after {
  left: 85.7588654783%;
  width: 0.7447297514rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(2)::before {
  left: 13.5904949239%;
  width: 0.3897122822rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(3)::after {
  left: 27.3805650096%;
  width: 0.1776331617rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(3)::before {
  left: 61.7845595728%;
  width: 0.995382253rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(4)::after {
  left: 98.5316731792%;
  width: 0.1563287258rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(4)::before {
  left: 44.9187662254%;
  width: 0.3367750637rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(5)::after {
  left: 48.6650281876%;
  width: 0.8159754679rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(5)::before {
  left: 49.7494110752%;
  width: 0.4991838001rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(1)::after {
  left: 49.2547839665%;
  width: 0.2277219868rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(1)::before {
  left: 70.442774547%;
  width: 0.8391115438rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(2)::after {
  left: 39.7772447819%;
  width: 0.6597076316rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(2)::before {
  left: 72.0426300446%;
  width: 1.0034255918rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(3)::after {
  left: 76.9453463994%;
  width: 1.0523879311rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(3)::before {
  left: 19.6446264661%;
  width: 0.7669192479rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(4)::after {
  left: 49.0094483773%;
  width: 0.431526035rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(4)::before {
  left: 49.4729656345%;
  width: 0.3448192432rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(5)::after {
  left: 3.5305735209%;
  width: 1.0937418315rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(5)::before {
  left: 71.8795412176%;
  width: 1.0255688784rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(6)::after {
  left: 21.7361871549%;
  width: 0.583502693rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(6)::before {
  left: 5.2686695107%;
  width: 0.5661569145rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(7)::after {
  left: 30.2032612859%;
  width: 0.4154507799rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(7)::before {
  left: 95.7291560607%;
  width: 0.1519590145rem;
}

.mona-svg {
  height: 100%;
  width: 100%;
}

.mona-path {
  opacity: 0;
  fill: none;
  stroke: black;
  stroke-width: 4rem;
}

.waifu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.water-curtain {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mask-image: url(../../../assets/image/mona_color.png);
  mask-size: 100%;
  mask-repeat: no-repeat;
  transform: rotateY(180deg) rotateZ(180deg);
  z-index: -1;
}

.curtain {
  height: 100%;
  width: 140%;
  background: black;
  position: absolute;
  left: -20%;
  bottom: -100%;
  z-index: 1;
  opacity: 0;
}

.gray-mona-container, .mona-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mona, .gray-mona {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../../assets/image/mona_color.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.mona, .gray-mona {
  height: 0%;
  width: 100%;
  border-bottom: 0px solid gray;
  transition: height 2s;
}

.mona {
  z-index: 2;
}

.gray-mona {
  filter: grayscale(100%);
  z-index: 1;
}

#list {
  height: 25rem;
  width: fit-content;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.background-cube {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.background-image-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.list-item {
  height: 3rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  opacity: 1;
  perspective: 600px;
  transition: box-shadow 0.5s 1s;
  box-shadow: 0px 0px 3px 0px white;
}
.list-item * {
  pointer-events: none;
}
.list-item a {
  font-size: large;
  color: white;
  pointer-events: none;
  user-select: none;
}
.list-item .background-image {
  filter: none;
}
.list-item .cube {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  /* transform: rotateY(90deg); */
  transition: transform 0.5s;
}
.list-item .cube .cube-face {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item .cube .cube-face-front {
  transform: translate(-50%, -50%) rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.list-item .cube .cube-face-back {
  transform: translate(-50%, -50%) rotateX(-90deg) translateY(50%) rotateX(-90deg);
}
.list-item .cube .cube-face-top {
  transform: translate(-50%, -50%) translateY(-50%) rotateX(90deg);
}
.list-item .cube .cube-face-bottom {
  transform: translate(-50%, -50%) translateY(50%) rotateX(-90deg);
}

.mouse-events-none {
  pointer-events: none;
}

* {
  transition: height 0.3s, width 0.3s;
}

*::selection {
  background-color: gray;
  color: white;
}

.background-image {
  backdrop-filter: grayscale(100%) blur(3px);
  z-index: -1;
}

a {
  white-space: nowrap;
}

#background {
  z-index: -99;
}

#content-wrapper {
  min-width: 20rem;
  flex-direction: column;
  row-gap: 5vh;
}

#all-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: max(10rem, 10vw);
}

@media screen and (orientation: portrait) {
  #all-wrapper {
    flex-direction: column;
  }
}
#intro-wrapper {
  height: fit-content;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-wrapper {
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0 white;
  transition: box-shadow 0.2s, transform 0.2s;
}

.description-wrapper:hover {
  box-shadow: 5px 5px 10px 0 black;
  transform: translate(-5px, -5px);
}

.description-span {
  width: 100%;
  height: fit-content;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: wheat;
}
