#title-wrapper {
  height: fit-content;
  width: fit-content;
}
#title-wrapper #title {
  text-align: center;
  vertical-align: middle;
  font-size: min(3rem, 8vw);
  color: transparent;
  -webkit-text-stroke: 2px #8f8f8f;
}

.list-item-hover-in.list-item-cv .mini-cv {
  animation: opacity-animation 0.5s forwards;
}

@keyframes opacity-animation {
  to {
    opacity: 0.3;
  }
}
.list-item-hover-in.list-item-cv .mini-cv .human {
  transition: bottom 0.7s 0.5s ease-out;
  bottom: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(1) {
  transition: left 1.4783391087s 0.7119057217s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(2) {
  transition: left 0.9649032208s 1.022966447s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(3) {
  transition: left 1.1933634025s 0.5428121852s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(4) {
  transition: left 0.7695628559s 1.2177243804s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(5) {
  transition: left 0.9994547324s 1.2693935215s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(1) {
  transition: left 0.8665710758s 0.5810565076s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(2) {
  transition: left 1.3623086244s 0.7645209714s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(3) {
  transition: left 1.1382890227s 0.7344863645s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(4) {
  transition: left 0.6509101442s 0.7483999233s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(5) {
  transition: left 1.0327138288s 0.7401541833s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(6) {
  transition: left 1.2405409939s 1.1110077209s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(7) {
  transition: left 1.0065589876s 1.1893701411s;
  left: 0%;
}

.list-item-hover-out.list-item-cv .mini-cv {
  animation: opacity-animation-reverse 1s forwards;
}

@keyframes opacity-animation-reverse {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}
@keyframes waifu-filter-animation {
  to {
    filter: blur(3px) grayscale(100%);
  }
}
.list-item-hover-in.list-item-waifu .background-image {
  animation: waifu-filter-animation 3s 0.5s forwards;
}

.list-item-hover-in.list-item-waifu .mona-svg {
  transform: rotateX(180deg);
}

.list-item-hover-in.list-item-waifu .water-curtain .mona, .list-item-hover-in.list-item-waifu .water-curtain .gray-mona {
  height: 100%;
  border-bottom: 3px solid gray;
}

.list-item-hover-in.list-item-waifu .water-curtain .mona {
  transition: height 1s 0.8s;
}

.list-item-hover-in.list-item-waifu .water-curtain .gray-mona {
  transition: height 1s 0.5s;
}

.list-item.list-item-hover-in {
  cursor: pointer;
  transition: box-shadow 0s 0s;
  box-shadow: 0px 0px 0px 0px white;
  animation: dimension-animation 0.3s 0.3s forwards;
}

@keyframes dimension-animation {
  to {
    height: 15rem;
    width: 10rem;
  }
}
@keyframes text-shadow-animation {
  to {
    text-shadow: 0px 0px 5px black;
  }
}
@keyframes cube-animation {
  to {
    transform: rotateX(-180deg);
  }
}
@keyframes image-container-animation {
  from {
    border: 0px solid white;
    box-shadow: 0px 0px 0px 0px black;
  }
  to {
    border: 1px solid white;
    box-shadow: 0px -3px 3px 0px black;
  }
}
@keyframes rotate-animation {
  from {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(45deg);
  }
}
@keyframes filter-animation {
  from {
    filter: grayscale(100%) blur(3px);
  }
  to {
    filter: grayscale(0%) blur(0px);
  }
}
.list-item.list-item-hover-in a {
  animation: text-shadow-animation 0.3s forwards;
}

.list-item.list-item-hover-in .cube {
  animation: cube-animation 0.3s forwards;
}

.list-item.list-item-hover-in .background-image-container {
  animation: image-container-animation 0.3s 0.3s forwards, rotate-animation 0.3s 0.6s forwards;
}

.list-item.list-item-hover-out {
  animation: dimension-animation-reverse 0.6s forwards;
}

@keyframes dimension-animation-reverse {
  0% {
    height: 15rem;
    width: 10rem;
  }
  50% {
    height: 3rem;
    width: 10rem;
  }
  100% {
    height: 3rem;
    width: 15rem;
  }
}
@keyframes text-shadow-animation-reverse {
  0%, 66% {
    text-shadow: 0px 0px 5px black;
  }
  100% {
    text-shadow: 0px 0px 0px black;
  }
}
@keyframes cube-animation-reverse {
  0%, 66% {
    transform: rotateX(-180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes image-container-animation-reverse {
  0%, 66% {
    border: 1px solid white;
    box-shadow: 0px -3px 3px 0px black;
  }
  100% {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 0px black;
  }
}
@keyframes rotate-animation-reverse {
  0%, 66% {
    transform: translate(-50%, -50%) rotateX(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
}
.list-item.list-item-hover-out .cube {
  animation: cube-animation-reverse 0.9s forwards;
}

.list-item.list-item-hover-out a {
  animation: text-shadow-animation-reverse 0.9s forwards;
}

.list-item.list-item-hover-out .background-image-container {
  animation: image-container-animation-reverse 0.9s forwards, rotate-animation-reverse 0.9s forwards;
}

.list-item.list-item-mouse-down {
  transform: translateY(5px);
}

.list-item.list-item-hover-in-siblings {
  opacity: 0;
  transition: 0.3s 0.3s;
}

.list-item {
  opacity: 1;
  transition: 0.3s;
}

.mini-cv {
  height: 100%;
  width: 100%;
  background: black;
  position: relative;
  display: grid;
  grid-template-areas: "photo details" "content content";
  padding: 10%;
  grid-gap: 5%;
  opacity: 0;
  transform: rotateZ(180deg);
}

.mini-cv .details .line:nth-of-type(1) {
  left: 100%;
}

.mini-cv .details .line:nth-of-type(2) {
  left: -100%;
}

.mini-cv .details .line:nth-of-type(3) {
  left: -100%;
}

.mini-cv .details .line:nth-of-type(4) {
  left: 100%;
}

.mini-cv .details .line:nth-of-type(5) {
  left: -100%;
}

.mini-cv .content .line:nth-of-type(1) {
  left: -100%;
}

.mini-cv .content .line:nth-of-type(2) {
  left: 100%;
}

.mini-cv .content .line:nth-of-type(3) {
  left: -100%;
}

.mini-cv .content .line:nth-of-type(4) {
  left: -100%;
}

.mini-cv .content .line:nth-of-type(5) {
  left: -100%;
}

.mini-cv .content .line:nth-of-type(6) {
  left: -100%;
}

.mini-cv .content .line:nth-of-type(7) {
  left: -100%;
}

.photo {
  grid-area: photo;
  background: white;
}

.photo .human {
  height: 100%;
  width: 100%;
  bottom: -100%;
  position: relative;
}

.photo .human .head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: black;
}

.photo .human .body {
  position: absolute;
  top: 50%;
  bottom: 0;
  background: black;
  height: 50%;
  width: 100%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.details {
  grid-area: details;
}

.content {
  grid-area: content;
}

.details,
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.line {
  height: 0.2rem;
  width: 100%;
  background: white;
  position: relative;
}

.line::after, .line::before {
  content: "";
  height: 0.2rem;
  width: 0.2rem;
  background: black;
  position: absolute;
  top: 0;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(1)::after {
  left: 40.6791981805%;
  width: 0.6958232521rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(1)::before {
  left: 62.7666221107%;
  width: 0.2233674734rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(2)::after {
  left: 37.9516965593%;
  width: 0.6385647933rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(2)::before {
  left: 13.3270542423%;
  width: 0.5385931143rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(3)::after {
  left: 60.3197313322%;
  width: 0.751814247rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(3)::before {
  left: 48.3686409317%;
  width: 0.5146193916rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(4)::after {
  left: 99.1601061924%;
  width: 0.7052460111rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(4)::before {
  left: 40.7879629738%;
  width: 0.9596064995rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(5)::after {
  left: 75.2728214899%;
  width: 0.7019500749rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(5)::before {
  left: 45.3923468941%;
  width: 0.6740917072rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(1)::after {
  left: 93.4139869428%;
  width: 0.9476448301rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(1)::before {
  left: 98.4867401299%;
  width: 0.2396086321rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(2)::after {
  left: 70.2159359427%;
  width: 0.9207683943rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(2)::before {
  left: 71.4143292469%;
  width: 0.7260377974rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(3)::after {
  left: 79.0203216406%;
  width: 0.713379448rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(3)::before {
  left: 90.5776049032%;
  width: 0.7234191673rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(4)::after {
  left: 90.9936775467%;
  width: 0.9564145826rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(4)::before {
  left: 85.7139448733%;
  width: 0.5145110118rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(5)::after {
  left: 2.9594996595%;
  width: 0.5759167258rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(5)::before {
  left: 54.836046986%;
  width: 0.7314942127rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(6)::after {
  left: 51.8570818851%;
  width: 0.4551867255rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(6)::before {
  left: 9.5512035739%;
  width: 0.8608856212rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(7)::after {
  left: 25.0000309879%;
  width: 0.4527213002rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(7)::before {
  left: 44.4239892498%;
  width: 0.96544986rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(1)::after {
  left: 75.907606817%;
  width: 1.0508310914rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(1)::before {
  left: 32.1813191562%;
  width: 0.8201470411rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(2)::after {
  left: 69.4922625094%;
  width: 0.528247522rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(2)::before {
  left: 65.5117846907%;
  width: 0.4190170119rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(3)::after {
  left: 51.6543728847%;
  width: 1.0080321449rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(3)::before {
  left: 51.2484362006%;
  width: 1.0927417458rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(4)::after {
  left: 5.4118986342%;
  width: 0.132890466rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(4)::before {
  left: 75.7297009921%;
  width: 0.2686053668rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(5)::after {
  left: 56.1515698558%;
  width: 0.804623722rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(5)::before {
  left: 53.7670588197%;
  width: 0.5623625856rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(1)::after {
  left: 75.2946116941%;
  width: 0.3440672182rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(1)::before {
  left: 46.6279326192%;
  width: 0.4072833741rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(2)::after {
  left: 8.3433209236%;
  width: 0.2618152286rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(2)::before {
  left: 26.1723992803%;
  width: 1.0742098902rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(3)::after {
  left: 92.6838708506%;
  width: 0.331470923rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(3)::before {
  left: 94.0108770088%;
  width: 0.4755475156rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(4)::after {
  left: 88.1607327877%;
  width: 0.5830766844rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(4)::before {
  left: 39.367975663%;
  width: 0.9730920981rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(5)::after {
  left: 94.019271991%;
  width: 1.0994899903rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(5)::before {
  left: 90.6424275698%;
  width: 0.6389216061rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(6)::after {
  left: 7.8614781762%;
  width: 0.4436071881rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(6)::before {
  left: 99.9484681171%;
  width: 0.1896377696rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(7)::after {
  left: 83.7646651278%;
  width: 0.3528654788rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(7)::before {
  left: 22.0547884385%;
  width: 1.052104019rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(1)::after {
  left: 52.4164438365%;
  width: 0.4852161243rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(1)::before {
  left: 92.4376855237%;
  width: 0.416964646rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(2)::after {
  left: 7.3074302529%;
  width: 0.8960361036rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(2)::before {
  left: 89.0040332515%;
  width: 0.7498391603rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(3)::after {
  left: 54.1010120431%;
  width: 0.8385869463rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(3)::before {
  left: 28.501311613%;
  width: 0.9248046205rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(4)::after {
  left: 62.9238143647%;
  width: 0.9968218023rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(4)::before {
  left: 23.2048912774%;
  width: 0.4898254666rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(5)::after {
  left: 36.8548482343%;
  width: 0.1162640312rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(5)::before {
  left: 5.9648803185%;
  width: 0.9806999387rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(1)::after {
  left: 50.1751292151%;
  width: 0.8595657637rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(1)::before {
  left: 7.3595995253%;
  width: 0.7886852499rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(2)::after {
  left: 38.8432633507%;
  width: 0.6028468343rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(2)::before {
  left: 48.6934579654%;
  width: 0.4216517056rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(3)::after {
  left: 0.0776601276%;
  width: 0.6862013173rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(3)::before {
  left: 52.0259725545%;
  width: 0.295949414rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(4)::after {
  left: 73.6059115517%;
  width: 0.4613705993rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(4)::before {
  left: 18.2932741739%;
  width: 0.7693278825rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(5)::after {
  left: 97.8872188614%;
  width: 1.0727477254rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(5)::before {
  left: 23.5693996071%;
  width: 0.9882567201rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(6)::after {
  left: 47.7495596524%;
  width: 0.5904062002rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(6)::before {
  left: 37.0148257132%;
  width: 0.7824206837rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(7)::after {
  left: 71.0860762014%;
  width: 0.536177705rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(7)::before {
  left: 89.7377617139%;
  width: 0.7705031195rem;
}

.mona-svg {
  height: 100%;
  width: 100%;
}

.mona-path {
  opacity: 0;
  fill: none;
  stroke: black;
  stroke-width: 4rem;
}

.waifu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.water-curtain {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mask-image: url(../../../assets/image/mona_color.png);
  mask-size: 100%;
  mask-repeat: no-repeat;
  transform: rotateY(180deg) rotateZ(180deg);
  z-index: -1;
}

.curtain {
  height: 100%;
  width: 140%;
  background: black;
  position: absolute;
  left: -20%;
  bottom: -100%;
  z-index: 1;
  opacity: 0;
}

.gray-mona-container, .mona-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mona, .gray-mona {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../../assets/image/mona_color.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.mona, .gray-mona {
  height: 0%;
  width: 100%;
  border-bottom: 0px solid gray;
  transition: height 2s;
}

.mona {
  z-index: 2;
}

.gray-mona {
  filter: grayscale(100%);
  z-index: 1;
}

#list {
  height: 25rem;
  width: fit-content;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.background-cube {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.background-image-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.list-item {
  height: 3rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  opacity: 1;
  perspective: 600px;
  transition: box-shadow 0.5s 1s;
  box-shadow: 0px 0px 3px 0px white;
}
.list-item * {
  pointer-events: none;
}
.list-item a {
  font-size: large;
  color: white;
  pointer-events: none;
  user-select: none;
}
.list-item .background-image {
  filter: none;
}
.list-item .cube {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  /* transform: rotateY(90deg); */
  transition: transform 0.5s;
}
.list-item .cube .cube-face {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item .cube .cube-face-front {
  transform: translate(-50%, -50%) rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.list-item .cube .cube-face-back {
  transform: translate(-50%, -50%) rotateX(-90deg) translateY(50%) rotateX(-90deg);
}
.list-item .cube .cube-face-top {
  transform: translate(-50%, -50%) translateY(-50%) rotateX(90deg);
}
.list-item .cube .cube-face-bottom {
  transform: translate(-50%, -50%) translateY(50%) rotateX(-90deg);
}

.mouse-events-none {
  pointer-events: none;
}

* {
  transition: height 0.3s, width 0.3s;
}

*::selection {
  background-color: gray;
  color: white;
}

span,
a {
  white-space: nowrap;
}

.background-image {
  filter: grayscale(100%) blur(3px);
  z-index: -1;
}

#background {
  z-index: -99;
}

#content-wrapper {
  min-width: 20rem;
  flex-direction: column;
  row-gap: 5vh;
  overflow: hidden;
}
