* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: gray;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.pointer-events-none {
  pointer-events: none;
}

.warning {
  line-height: 2rem;
  height: 2rem;
  width: 100vw;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: white;
  background: #cc8739;
}

#title-wrapper {
  height: fit-content;
  width: fit-content;
}
#title-wrapper #title {
  text-align: center;
  vertical-align: middle;
  font-size: min(3rem, 8vw);
  color: transparent;
  -webkit-text-stroke: 2px #8f8f8f;
}

.list-item-hover-in.list-item-cv .mini-cv {
  animation: opacity-animation 0.5s forwards;
}

@keyframes opacity-animation {
  to {
    opacity: 0.3;
  }
}
.list-item-hover-in.list-item-cv .mini-cv .human {
  transition: bottom 0.7s 0.5s ease-out;
  bottom: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(1) {
  transition: left 0.6644376411s 1.3711030631s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(2) {
  transition: left 1.0273120213s 0.817658194s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(3) {
  transition: left 0.5588400989s 1.3456003995s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(4) {
  transition: left 1.1687860439s 0.5191795127s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(5) {
  transition: left 0.7345078146s 0.86447545s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(1) {
  transition: left 0.5611499315s 0.5631521393s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(2) {
  transition: left 0.606788346s 0.6431722066s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(3) {
  transition: left 1.360516337s 0.526510405s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(4) {
  transition: left 0.5009741705s 1.1409901125s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(5) {
  transition: left 1.0434188761s 0.7444354948s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(6) {
  transition: left 1.133142538s 0.6333134846s;
  left: 0%;
}

.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(7) {
  transition: left 0.8825288778s 1.115558106s;
  left: 0%;
}

.list-item-hover-out.list-item-cv .mini-cv {
  animation: opacity-animation-reverse 1s forwards;
}

@keyframes opacity-animation-reverse {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}
@keyframes waifu-filter-animation {
  to {
    filter: blur(3px) grayscale(100%);
  }
}
.list-item-hover-in.list-item-waifu .background-image {
  animation: waifu-filter-animation 1s 1.5s forwards;
}

.list-item-hover-in.list-item-waifu .mona-svg {
  transform: rotateX(180deg);
}

.list-item-hover-in.list-item-waifu .mona-svg .mona-path {
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 2s 0.5s ease-in-out;
}

.list-item-hover-in.list-item-waifu .water-curtain .mona {
  opacity: 1;
  transition: opacity 1s 1.5s;
}

.list-item.list-item-hover-in {
  cursor: pointer;
  transition: box-shadow 0s 0s;
  box-shadow: 0px 0px 0px 0px white;
  animation: dimension-animation 0.3s 0.3s forwards;
}

@keyframes dimension-animation {
  to {
    height: 15rem;
    width: 10rem;
  }
}
@keyframes text-shadow-animation {
  to {
    text-shadow: 0px 0px 5px black;
  }
}
@keyframes cube-animation {
  to {
    transform: rotateX(-180deg);
  }
}
@keyframes image-container-animation {
  from {
    border: 0px solid white;
    box-shadow: 0px 0px 0px 0px black;
  }
  to {
    border: 1px solid white;
    box-shadow: 0px -3px 3px 0px black;
  }
}
@keyframes rotate-animation {
  from {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(45deg);
  }
}
@keyframes filter-animation {
  from {
    filter: grayscale(100%) blur(3px);
  }
  to {
    filter: grayscale(0%) blur(0px);
  }
}
.list-item.list-item-hover-in a {
  animation: text-shadow-animation 0.3s forwards;
}

.list-item.list-item-hover-in .cube {
  animation: cube-animation 0.3s forwards;
}

.list-item.list-item-hover-in .background-image-container {
  animation: image-container-animation 0.3s 0.3s forwards, rotate-animation 0.3s 0.6s forwards;
}

.list-item.list-item-hover-out {
  animation: dimension-animation-reverse 0.6s forwards;
}

@keyframes dimension-animation-reverse {
  0% {
    height: 15rem;
    width: 10rem;
  }
  50% {
    height: 3rem;
    width: 10rem;
  }
  100% {
    height: 3rem;
    width: 15rem;
  }
}
@keyframes text-shadow-animation-reverse {
  0%, 66% {
    text-shadow: 0px 0px 5px black;
  }
  100% {
    text-shadow: 0px 0px 0px black;
  }
}
@keyframes cube-animation-reverse {
  0%, 66% {
    transform: rotateX(-180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes image-container-animation-reverse {
  0%, 66% {
    border: 1px solid white;
    box-shadow: 0px -3px 3px 0px black;
  }
  100% {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 0px black;
  }
}
@keyframes rotate-animation-reverse {
  0%, 66% {
    transform: translate(-50%, -50%) rotateX(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
}
.list-item.list-item-hover-out .cube {
  animation: cube-animation-reverse 0.9s forwards;
}

.list-item.list-item-hover-out a {
  animation: text-shadow-animation-reverse 0.9s forwards;
}

.list-item.list-item-hover-out .background-image-container {
  animation: image-container-animation-reverse 0.9s forwards, rotate-animation-reverse 0.9s forwards;
}

.list-item.list-item-mouse-down .background-cube {
  transform: translateY(-10px);
  transition: transform 0.05s;
}

.list-item.list-item-mouse-down .background-cube .background-image {
  filter: none;
}

.list-item.list-item-hover-in-siblings {
  opacity: 0;
  transition: 0.3s 0.3s;
}

.list-item {
  opacity: 1;
  transition: 0.3s;
}

.mini-cv {
  height: 100%;
  width: 100%;
  background: black;
  position: relative;
  display: grid;
  grid-template-areas: "photo details" "content content";
  padding: 10%;
  grid-gap: 5%;
  opacity: 0;
  transform: rotateZ(180deg);
}

.mini-cv .details .line:nth-of-type(1) {
  left: 100%;
}

.mini-cv .details .line:nth-of-type(2) {
  left: -100%;
}

.mini-cv .details .line:nth-of-type(3) {
  left: 100%;
}

.mini-cv .details .line:nth-of-type(4) {
  left: -100%;
}

.mini-cv .details .line:nth-of-type(5) {
  left: -100%;
}

.mini-cv .content .line:nth-of-type(1) {
  left: 100%;
}

.mini-cv .content .line:nth-of-type(2) {
  left: -100%;
}

.mini-cv .content .line:nth-of-type(3) {
  left: 100%;
}

.mini-cv .content .line:nth-of-type(4) {
  left: 100%;
}

.mini-cv .content .line:nth-of-type(5) {
  left: -100%;
}

.mini-cv .content .line:nth-of-type(6) {
  left: 100%;
}

.mini-cv .content .line:nth-of-type(7) {
  left: 100%;
}

.photo {
  grid-area: photo;
  background: white;
}

.photo .human {
  height: 100%;
  width: 100%;
  bottom: -100%;
  position: relative;
}

.photo .human .head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: black;
}

.photo .human .body {
  position: absolute;
  top: 50%;
  bottom: 0;
  background: black;
  height: 50%;
  width: 100%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.details {
  grid-area: details;
}

.content {
  grid-area: content;
}

.details,
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.line {
  height: 0.2rem;
  width: 100%;
  background: white;
  position: relative;
}

.line::after, .line::before {
  content: "";
  height: 0.2rem;
  width: 0.2rem;
  background: black;
  position: absolute;
  top: 0;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(1)::after {
  left: 51.9165492343%;
  width: 0.1513233881rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(1)::before {
  left: 80.4851062761%;
  width: 0.9813319498rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(2)::after {
  left: 40.4197440212%;
  width: 0.9767967199rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(2)::before {
  left: 86.7712570129%;
  width: 0.9583657205rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(3)::after {
  left: 69.0577759186%;
  width: 0.2220786058rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(3)::before {
  left: 63.5464310269%;
  width: 0.5328846845rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(4)::after {
  left: 35.4866691798%;
  width: 0.3127109654rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(4)::before {
  left: 47.7290941087%;
  width: 0.5228724988rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(5)::after {
  left: 40.2797949878%;
  width: 0.2896452621rem;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(5)::before {
  left: 72.3960963891%;
  width: 0.5364823771rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(1)::after {
  left: 19.9168263248%;
  width: 0.2065267535rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(1)::before {
  left: 87.1099466567%;
  width: 1.0248623693rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(2)::after {
  left: 41.5635451155%;
  width: 0.5384201281rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(2)::before {
  left: 84.0574517347%;
  width: 0.9076138854rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(3)::after {
  left: 0.9986375457%;
  width: 0.6978686106rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(3)::before {
  left: 3.8813469855%;
  width: 0.1937566069rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(4)::after {
  left: 23.1221719633%;
  width: 0.1074671876rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(4)::before {
  left: 98.6174696002%;
  width: 0.4551376147rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(5)::after {
  left: 54.2039643186%;
  width: 0.574621708rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(5)::before {
  left: 74.313779289%;
  width: 0.8402054014rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(6)::after {
  left: 53.5545709682%;
  width: 0.594593404rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(6)::before {
  left: 59.2407908172%;
  width: 0.4822381135rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(7)::after {
  left: 35.6463797733%;
  width: 0.9664992064rem;
}

.background-image-container:nth-of-type(1) .content .line:nth-of-type(7)::before {
  left: 87.3246837793%;
  width: 0.6291352753rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(1)::after {
  left: 74.8535203243%;
  width: 0.4689327621rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(1)::before {
  left: 85.5982364338%;
  width: 0.5729011404rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(2)::after {
  left: 31.7094167358%;
  width: 0.4275924002rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(2)::before {
  left: 43.870712425%;
  width: 0.4884418561rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(3)::after {
  left: 31.7333222586%;
  width: 0.8774003968rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(3)::before {
  left: 56.1339294555%;
  width: 0.7492498206rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(4)::after {
  left: 33.097928141%;
  width: 0.8605491528rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(4)::before {
  left: 0.4437830869%;
  width: 0.6146292387rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(5)::after {
  left: 6.5425612541%;
  width: 0.6970626455rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(5)::before {
  left: 59.107313404%;
  width: 0.2423674225rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(1)::after {
  left: 51.0701771255%;
  width: 0.7558631048rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(1)::before {
  left: 84.5261865026%;
  width: 0.8381690352rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(2)::after {
  left: 76.4136227867%;
  width: 0.8270659656rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(2)::before {
  left: 93.0094385709%;
  width: 0.9812221976rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(3)::after {
  left: 74.173345856%;
  width: 0.9840765063rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(3)::before {
  left: 38.2974286551%;
  width: 0.5662848103rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(4)::after {
  left: 0.5400641418%;
  width: 0.9249053371rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(4)::before {
  left: 34.8841782378%;
  width: 0.5752440183rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(5)::after {
  left: 25.4481572471%;
  width: 0.9534451942rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(5)::before {
  left: 38.6568694571%;
  width: 1.0133112416rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(6)::after {
  left: 93.2648133238%;
  width: 0.5169011957rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(6)::before {
  left: 81.8152082478%;
  width: 1.0404200873rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(7)::after {
  left: 13.5728994584%;
  width: 0.2208999819rem;
}

.background-image-container:nth-of-type(2) .content .line:nth-of-type(7)::before {
  left: 74.4084131829%;
  width: 0.8998793719rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(1)::after {
  left: 54.5273337135%;
  width: 0.3486705892rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(1)::before {
  left: 69.2480267773%;
  width: 0.2269545445rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(2)::after {
  left: 28.1877135987%;
  width: 1.0257018069rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(2)::before {
  left: 71.6812340271%;
  width: 0.330106939rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(3)::after {
  left: 94.0836082111%;
  width: 0.9230389332rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(3)::before {
  left: 59.390196058%;
  width: 0.3008736073rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(4)::after {
  left: 20.4185997506%;
  width: 0.1189956257rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(4)::before {
  left: 23.224484159%;
  width: 1.0408830131rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(5)::after {
  left: 94.5573475328%;
  width: 0.6544973698rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(5)::before {
  left: 61.1185072571%;
  width: 0.4718719954rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(1)::after {
  left: 75.0675168457%;
  width: 1.0176928869rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(1)::before {
  left: 17.6464801607%;
  width: 0.6989741089rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(2)::after {
  left: 6.4788423826%;
  width: 0.7246913198rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(2)::before {
  left: 96.4271446662%;
  width: 0.2554029439rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(3)::after {
  left: 41.3763337625%;
  width: 1.0290757416rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(3)::before {
  left: 89.6351780097%;
  width: 0.385146491rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(4)::after {
  left: 62.4723042993%;
  width: 0.1656031865rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(4)::before {
  left: 29.8845026337%;
  width: 0.1806533298rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(5)::after {
  left: 25.029155708%;
  width: 0.7135132192rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(5)::before {
  left: 81.9554971523%;
  width: 0.8854082434rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(6)::after {
  left: 94.2526374091%;
  width: 1.0281634716rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(6)::before {
  left: 89.5324271172%;
  width: 0.3440774053rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(7)::after {
  left: 51.6915510425%;
  width: 0.7817502263rem;
}

.background-image-container:nth-of-type(3) .content .line:nth-of-type(7)::before {
  left: 19.0324756674%;
  width: 0.9363643169rem;
}

.mona-svg {
  height: 100%;
  width: 100%;
}

.mona-path {
  stroke-dasharray: 76000px;
  stroke-dashoffset: 76000px;
  fill: none;
  stroke: black;
  stroke-width: 4rem;
}

.waifu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.water-curtain {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mask-image: url(../../assets/image/mona_color.png);
  mask-size: 100%;
  mask-repeat: no-repeat;
  transform: rotateY(180deg) rotateZ(180deg);
  z-index: -1;
}

.curtain {
  height: 100%;
  width: 140%;
  background: black;
  position: absolute;
  left: -20%;
  bottom: -100%;
  z-index: 1;
  opacity: 0;
}

.mona {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../assets/image/mona_color.png);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0;
}

#list {
  height: 25rem;
  width: fit-content;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.background-cube {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.background-image-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.list-item {
  height: 3rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  opacity: 1;
  perspective: 600px;
  transition: box-shadow 0.5s 1s;
  box-shadow: 0px 0px 3px 0px white;
}
.list-item * {
  pointer-events: none;
}
.list-item a {
  font-size: large;
  color: white;
  pointer-events: none;
  user-select: none;
}
.list-item .background-image {
  filter: none;
}
.list-item .cube {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  /* transform: rotateY(90deg); */
  transition: transform 0.5s;
}
.list-item .cube .cube-face {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item .cube .cube-face-front {
  transform: translate(-50%, -50%) rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.list-item .cube .cube-face-back {
  transform: translate(-50%, -50%) rotateX(-90deg) translateY(50%) rotateX(-90deg);
}
.list-item .cube .cube-face-top {
  transform: translate(-50%, -50%) translateY(-50%) rotateX(90deg);
}
.list-item .cube .cube-face-bottom {
  transform: translate(-50%, -50%) translateY(50%) rotateX(-90deg);
}

.mouse-events-none {
  pointer-events: none;
}

* {
  transition: height 0.3s, width 0.3s;
}

*::selection {
  background-color: gray;
  color: white;
}

span,
a {
  white-space: nowrap;
}

#clicked {
  color: whitesmoke;
}

#all-wrapper {
  height: 100vh;
  width: 100vw;
}

#content-wrapper {
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20rem;
  flex-direction: column;
  row-gap: 5vh;
  overflow: hidden;
}

.background-image {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../assets/image/background.jpg);
  background-size: cover;
  filter: grayscale(100%) blur(3px);
  z-index: -1;
}

#background {
  z-index: -99;
}
