.list-item-hover-in.list-item-cv .mini-cv {
  animation: opacity-animation 0.5s forwards;
}
@keyframes opacity-animation {
  to {
    opacity: 0.3;
  }
}
.list-item-hover-in.list-item-cv .mini-cv .human {
  transition: bottom 0.7s 0.5s ease-out;
  bottom: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(1) {
  transition: left 1.4446379545s 0.9272007098s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(2) {
  transition: left 1.2406584873s 0.5822411278s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(3) {
  transition: left 1.4113698149s 1.3074213463s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(4) {
  transition: left 1.145743262s 1.4133170496s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(5) {
  transition: left 1.3422603348s 0.9789982162s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(1) {
  transition: left 1.4231528149s 1.3196104671s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(2) {
  transition: left 0.6543833008s 1.3599444684s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(3) {
  transition: left 1.0101757589s 0.8597097016s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(4) {
  transition: left 0.5922604898s 0.5762725602s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(5) {
  transition: left 0.6065136411s 0.5316024612s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(6) {
  transition: left 0.5562826133s 0.5724387603s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(7) {
  transition: left 1.1249173451s 1.370157024s;
  left: 0%;
}

.list-item-hover-out.list-item-cv .mini-cv {
  animation: opacity-animation-reverse 1s forwards;
}
@keyframes opacity-animation-reverse {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}

@keyframes waifu-filter-animation {
  to {
    filter: blur(3px) grayscale(100%);
  }
}
.list-item-hover-in.list-item-waifu .background-image {
  animation: waifu-filter-animation 3s 0.5s forwards;
}
.list-item-hover-in.list-item-waifu .mona-svg {
  transform: rotateX(180deg);
}
.list-item-hover-in.list-item-waifu .water-curtain .mona, .list-item-hover-in.list-item-waifu .water-curtain .gray-mona {
  height: 100%;
  border-bottom: 3px solid gray;
}
.list-item-hover-in.list-item-waifu .water-curtain .mona {
  transition: height 1s 0.8s;
}
.list-item-hover-in.list-item-waifu .water-curtain .gray-mona {
  transition: height 1s 0.5s;
}

.list-item.list-item-hover-in {
  cursor: pointer;
  transition: box-shadow 0s 0s;
  box-shadow: 0px 0px 0px 0px white;
  animation: dimension-animation 0.3s 0.3s forwards;
}
@keyframes dimension-animation {
  to {
    height: 15rem;
    width: 10rem;
  }
}
@keyframes text-shadow-animation {
  to {
    text-shadow: 0px 0px 5px black;
  }
}
@keyframes cube-animation {
  to {
    transform: rotateX(-180deg);
  }
}
@keyframes image-container-animation {
  from {
    border: 0px solid white;
    box-shadow: 0px 0px 0px 0px black;
  }
  to {
    border: 1px solid white;
    box-shadow: 0px -3px 3px 0px black;
  }
}
@keyframes rotate-animation {
  from {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(45deg);
  }
}
@keyframes filter-animation {
  from {
    filter: grayscale(100%) blur(3px);
  }
  to {
    filter: grayscale(0%) blur(0px);
  }
}
.list-item.list-item-hover-in a {
  animation: text-shadow-animation 0.3s forwards;
}
.list-item.list-item-hover-in .cube {
  animation: cube-animation 0.3s forwards;
}
.list-item.list-item-hover-in .background-image-container {
  animation: image-container-animation 0.3s 0.3s forwards, rotate-animation 0.3s 0.6s forwards;
}

.list-item.list-item-hover-out {
  animation: dimension-animation-reverse 0.6s forwards;
}
@keyframes dimension-animation-reverse {
  0% {
    height: 15rem;
    width: 10rem;
  }
  50% {
    height: 3rem;
    width: 10rem;
  }
  100% {
    height: 3rem;
    width: 15rem;
  }
}
@keyframes text-shadow-animation-reverse {
  0%, 66% {
    text-shadow: 0px 0px 5px black;
  }
  100% {
    text-shadow: 0px 0px 0px black;
  }
}
@keyframes cube-animation-reverse {
  0%, 66% {
    transform: rotateX(-180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes image-container-animation-reverse {
  0%, 66% {
    border: 1px solid white;
    box-shadow: 0px -3px 3px 0px black;
  }
  100% {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 0px black;
  }
}
@keyframes rotate-animation-reverse {
  0%, 66% {
    transform: translate(-50%, -50%) rotateX(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
}
.list-item.list-item-hover-out .cube {
  animation: cube-animation-reverse 0.9s forwards;
}
.list-item.list-item-hover-out a {
  animation: text-shadow-animation-reverse 0.9s forwards;
}
.list-item.list-item-hover-out .background-image-container {
  animation: image-container-animation-reverse 0.9s forwards, rotate-animation-reverse 0.9s forwards;
}

.list-item.list-item-mouse-down {
  transform: translateY(5px);
}

.list-item.list-item-hover-in-siblings {
  opacity: 0;
  transition: 0.3s 0.3s;
}

.list-item {
  opacity: 1;
  transition: 0.3s;
}

.mini-cv {
  height: 100%;
  width: 100%;
  background: black;
  position: relative;
  display: grid;
  grid-template-areas: "photo details" "content content";
  padding: 10%;
  grid-gap: 5%;
  opacity: 0;
  transform: rotateZ(180deg);
}
.mini-cv .details .line:nth-of-type(1) {
  left: -100%;
}
.mini-cv .details .line:nth-of-type(2) {
  left: -100%;
}
.mini-cv .details .line:nth-of-type(3) {
  left: 100%;
}
.mini-cv .details .line:nth-of-type(4) {
  left: -100%;
}
.mini-cv .details .line:nth-of-type(5) {
  left: 100%;
}
.mini-cv .content .line:nth-of-type(1) {
  left: -100%;
}
.mini-cv .content .line:nth-of-type(2) {
  left: -100%;
}
.mini-cv .content .line:nth-of-type(3) {
  left: 100%;
}
.mini-cv .content .line:nth-of-type(4) {
  left: -100%;
}
.mini-cv .content .line:nth-of-type(5) {
  left: -100%;
}
.mini-cv .content .line:nth-of-type(6) {
  left: 100%;
}
.mini-cv .content .line:nth-of-type(7) {
  left: 100%;
}

.photo {
  grid-area: photo;
  background: white;
}
.photo .human {
  height: 100%;
  width: 100%;
  bottom: -100%;
  position: relative;
}
.photo .human .head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: black;
}
.photo .human .body {
  position: absolute;
  top: 50%;
  bottom: 0;
  background: black;
  height: 50%;
  width: 100%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.details {
  grid-area: details;
}

.content {
  grid-area: content;
}

.details,
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.line {
  height: 0.2rem;
  width: 100%;
  background: white;
  position: relative;
}
.line::after, .line::before {
  content: "";
  height: 0.2rem;
  width: 0.2rem;
  background: black;
  position: absolute;
  top: 0;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(1)::after {
  left: 11.3420521873%;
  width: 0.1433579398rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(1)::before {
  left: 95.9516354441%;
  width: 1.0322913153rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(2)::after {
  left: 53.7781706442%;
  width: 0.1909616332rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(2)::before {
  left: 60.3152578954%;
  width: 0.2525735807rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(3)::after {
  left: 96.0209366472%;
  width: 0.8757535375rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(3)::before {
  left: 96.9543767079%;
  width: 1.0545849339rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(4)::after {
  left: 78.3819489485%;
  width: 0.5977810227rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(4)::before {
  left: 33.3997973631%;
  width: 0.8751474212rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(5)::after {
  left: 25.5780259617%;
  width: 0.5559557215rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(5)::before {
  left: 55.9126362633%;
  width: 0.1742746571rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(1)::after {
  left: 70.4053424148%;
  width: 0.7294820639rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(1)::before {
  left: 84.9319492592%;
  width: 0.1942283133rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(2)::after {
  left: 16.8592970148%;
  width: 0.8744665185rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(2)::before {
  left: 42.2759197124%;
  width: 0.2112447942rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(3)::after {
  left: 36.5616077796%;
  width: 0.8958631912rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(3)::before {
  left: 93.9664448913%;
  width: 0.2295733563rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(4)::after {
  left: 28.1137375984%;
  width: 0.9825691852rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(4)::before {
  left: 50.2489100129%;
  width: 0.2067208092rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(5)::after {
  left: 22.8989095553%;
  width: 0.772564437rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(5)::before {
  left: 6.8387180841%;
  width: 0.2984855266rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(6)::after {
  left: 23.4095572295%;
  width: 0.9538390661rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(6)::before {
  left: 42.6069252576%;
  width: 0.7664643834rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(7)::after {
  left: 8.7782382227%;
  width: 0.6644944851rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(7)::before {
  left: 80.8564349795%;
  width: 0.5601238036rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(1)::after {
  left: 92.7866177558%;
  width: 0.2602042117rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(1)::before {
  left: 0.9299797913%;
  width: 1.0663677712rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(2)::after {
  left: 20.3263484151%;
  width: 0.5146059003rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(2)::before {
  left: 24.0129517551%;
  width: 0.5567300268rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(3)::after {
  left: 0.6041447217%;
  width: 0.5442122289rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(3)::before {
  left: 20.0498112395%;
  width: 0.9579817779rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(4)::after {
  left: 10.6020076664%;
  width: 0.7371464689rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(4)::before {
  left: 72.8821182085%;
  width: 0.821159739rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(5)::after {
  left: 41.9311682117%;
  width: 0.2527946646rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(5)::before {
  left: 82.4272477358%;
  width: 0.8568073671rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(1)::after {
  left: 81.6304478972%;
  width: 0.3993551376rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(1)::before {
  left: 4.2729816611%;
  width: 0.1432542661rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(2)::after {
  left: 25.1738003142%;
  width: 0.5830294905rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(2)::before {
  left: 38.0857339045%;
  width: 0.1049009065rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(3)::after {
  left: 71.9905779701%;
  width: 1.0759559683rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(3)::before {
  left: 93.2750659971%;
  width: 0.3892924934rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(4)::after {
  left: 57.2158014342%;
  width: 0.8821416105rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(4)::before {
  left: 72.5889771371%;
  width: 0.4374861968rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(5)::after {
  left: 85.7137571799%;
  width: 0.3409204778rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(5)::before {
  left: 91.443678159%;
  width: 0.5498109378rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(6)::after {
  left: 1.0276430273%;
  width: 0.2038732135rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(6)::before {
  left: 54.4233569554%;
  width: 0.5563424377rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(7)::after {
  left: 2.3461619124%;
  width: 0.1592074468rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(7)::before {
  left: 98.4476197486%;
  width: 0.5719145707rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(1)::after {
  left: 61.6308210962%;
  width: 0.224787718rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(1)::before {
  left: 25.3230691908%;
  width: 0.3018047388rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(2)::after {
  left: 83.7664008171%;
  width: 0.1601542567rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(2)::before {
  left: 82.9674467918%;
  width: 0.3810865635rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(3)::after {
  left: 80.6816357899%;
  width: 0.4785695617rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(3)::before {
  left: 46.1110826646%;
  width: 0.3342583788rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(4)::after {
  left: 34.0042422844%;
  width: 0.8772104301rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(4)::before {
  left: 25.2817498286%;
  width: 0.3340623436rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(5)::after {
  left: 50.2691362379%;
  width: 0.6096884127rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(5)::before {
  left: 70.0865087681%;
  width: 1.0821417756rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(1)::after {
  left: 35.2749283368%;
  width: 0.1428347575rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(1)::before {
  left: 33.2849771899%;
  width: 0.5106515956rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(2)::after {
  left: 97.6619134435%;
  width: 0.3858166296rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(2)::before {
  left: 96.1961738704%;
  width: 0.1072819059rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(3)::after {
  left: 88.9469425229%;
  width: 0.8821283616rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(3)::before {
  left: 28.0452226595%;
  width: 0.5108009207rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(4)::after {
  left: 7.0361305718%;
  width: 0.2795740583rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(4)::before {
  left: 17.7838514388%;
  width: 0.9078558362rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(5)::after {
  left: 50.9809806304%;
  width: 0.3880935392rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(5)::before {
  left: 35.158313206%;
  width: 0.6910511298rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(6)::after {
  left: 46.5260243814%;
  width: 0.2724578657rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(6)::before {
  left: 17.133781878%;
  width: 0.9778657096rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(7)::after {
  left: 24.3001056384%;
  width: 0.8447678285rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(7)::before {
  left: 10.2275310585%;
  width: 0.7343768473rem;
}

.mona-svg {
  height: 100%;
  width: 100%;
}

.mona-path {
  opacity: 0;
  fill: none;
  stroke: black;
  stroke-width: 4rem;
}

.waifu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.water-curtain {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mask-image: url(../../../assets/image/mona_color.png);
  mask-size: 100%;
  mask-repeat: no-repeat;
  transform: rotateY(180deg) rotateZ(180deg);
  z-index: -1;
}

.curtain {
  height: 100%;
  width: 140%;
  background: black;
  position: absolute;
  left: -20%;
  bottom: -100%;
  z-index: 1;
  opacity: 0;
}

.gray-mona-container, .mona-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mona, .gray-mona {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../../assets/image/mona_color.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.mona, .gray-mona {
  height: 0%;
  width: 100%;
  border-bottom: 0px solid gray;
  transition: height 2s;
}

.mona {
  z-index: 2;
}

.gray-mona {
  filter: grayscale(100%);
  z-index: 1;
}

#list {
  height: 25rem;
  width: fit-content;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.background-cube {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.background-image-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.list-item {
  height: 3rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  opacity: 1;
  perspective: 600px;
  transition: box-shadow 0.5s 1s;
  box-shadow: 0px 0px 3px 0px white;
}
.list-item * {
  pointer-events: none;
}
.list-item a {
  font-size: large;
  color: white;
  pointer-events: none;
  user-select: none;
}
.list-item .background-image {
  filter: none;
}
.list-item .cube {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  /* transform: rotateY(90deg); */
  transition: transform 0.5s;
}
.list-item .cube .cube-face {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item .cube .cube-face-front {
  transform: translate(-50%, -50%) rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.list-item .cube .cube-face-back {
  transform: translate(-50%, -50%) rotateX(-90deg) translateY(50%) rotateX(-90deg);
}
.list-item .cube .cube-face-top {
  transform: translate(-50%, -50%) translateY(-50%) rotateX(90deg);
}
.list-item .cube .cube-face-bottom {
  transform: translate(-50%, -50%) translateY(50%) rotateX(-90deg);
}

.mouse-events-none {
  pointer-events: none;
}
