.list-item-hover-in.list-item-cv .mini-cv {
  animation: opacity-animation 0.5s forwards;
}
@keyframes opacity-animation {
  to {
    opacity: 0.3;
  }
}
.list-item-hover-in.list-item-cv .mini-cv .human {
  transition: bottom 0.7s 0.5s ease-out;
  bottom: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(1) {
  transition: left 0.799097976s 0.699394855s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(2) {
  transition: left 1.1657779761s 0.8809746514s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(3) {
  transition: left 0.8050664443s 1.2280701399s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(4) {
  transition: left 1.4360537594s 0.8142023816s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(5) {
  transition: left 1.0999283781s 1.2655801369s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(1) {
  transition: left 0.8123052401s 1.1448238825s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(2) {
  transition: left 1.219122824s 1.4668464057s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(3) {
  transition: left 0.5160421162s 1.357623321s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(4) {
  transition: left 0.7889514769s 1.0236436242s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(5) {
  transition: left 1.2696172099s 0.6166970464s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(6) {
  transition: left 1.2364133897s 0.8223912126s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(7) {
  transition: left 0.6096397723s 0.8484725878s;
  left: 0%;
}

.list-item-hover-out.list-item-cv .mini-cv {
  animation: opacity-animation-reverse 1s forwards;
}
@keyframes opacity-animation-reverse {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}

@keyframes waifu-filter-animation {
  to {
    filter: blur(3px) grayscale(100%);
  }
}
.list-item-hover-in.list-item-waifu .background-image {
  animation: waifu-filter-animation 1s 1.5s forwards;
}
.list-item-hover-in.list-item-waifu .mona-svg {
  transform: rotateX(180deg);
}
.list-item-hover-in.list-item-waifu .mona-svg .mona-path {
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 2s 0.5s ease-in-out;
}
.list-item-hover-in.list-item-waifu .water-curtain .mona {
  opacity: 1;
  transition: opacity 1s 1.5s;
}

.list-item.list-item-hover-in {
  cursor: pointer;
  transition: box-shadow 0s 0s;
  box-shadow: 0px 0px 0px 0px white;
  animation: dimension-animation 0.3s 0.3s forwards;
}
@keyframes dimension-animation {
  to {
    height: 15rem;
    width: 10rem;
  }
}
@keyframes text-shadow-animation {
  to {
    text-shadow: 0px 0px 5px black;
  }
}
@keyframes cube-animation {
  to {
    transform: rotateX(-180deg);
  }
}
@keyframes image-container-animation {
  from {
    border: 0px solid white;
    box-shadow: 0px 0px 0px 0px black;
  }
  to {
    border: 1px solid white;
    box-shadow: 0px -3px 3px 0px black;
  }
}
@keyframes rotate-animation {
  from {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(45deg);
  }
}
@keyframes filter-animation {
  from {
    filter: grayscale(100%) blur(3px);
  }
  to {
    filter: grayscale(0%) blur(0px);
  }
}
.list-item.list-item-hover-in a {
  animation: text-shadow-animation 0.3s forwards;
}
.list-item.list-item-hover-in .cube {
  animation: cube-animation 0.3s forwards;
}
.list-item.list-item-hover-in .background-image-container {
  animation: image-container-animation 0.3s 0.3s forwards, rotate-animation 0.3s 0.6s forwards;
}

.list-item.list-item-hover-out {
  animation: dimension-animation-reverse 0.6s forwards;
}
@keyframes dimension-animation-reverse {
  0% {
    height: 15rem;
    width: 10rem;
  }
  50% {
    height: 3rem;
    width: 10rem;
  }
  100% {
    height: 3rem;
    width: 15rem;
  }
}
@keyframes text-shadow-animation-reverse {
  0%, 66% {
    text-shadow: 0px 0px 5px black;
  }
  100% {
    text-shadow: 0px 0px 0px black;
  }
}
@keyframes cube-animation-reverse {
  0%, 66% {
    transform: rotateX(-180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes image-container-animation-reverse {
  0%, 66% {
    border: 1px solid white;
    box-shadow: 0px -3px 3px 0px black;
  }
  100% {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 0px black;
  }
}
@keyframes rotate-animation-reverse {
  0%, 66% {
    transform: translate(-50%, -50%) rotateX(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
}
.list-item.list-item-hover-out .cube {
  animation: cube-animation-reverse 0.9s forwards;
}
.list-item.list-item-hover-out a {
  animation: text-shadow-animation-reverse 0.9s forwards;
}
.list-item.list-item-hover-out .background-image-container {
  animation: image-container-animation-reverse 0.9s forwards, rotate-animation-reverse 0.9s forwards;
}

.list-item.list-item-mouse-down .background-cube {
  transform: translateY(-10px);
  transition: transform 0.05s;
}
.list-item.list-item-mouse-down .background-cube .background-image {
  filter: none;
}

.list-item.list-item-hover-in-siblings {
  opacity: 0;
  transition: 0.3s 0.3s;
}

.list-item {
  opacity: 1;
  transition: 0.3s;
}
