@keyframes waifu-filter-animation {
  to {
    filter: blur(3px) grayscale(100%);
  }
}
.list-item-hover-in.list-item-waifu .background-image {
  animation: waifu-filter-animation 1s 1.5s forwards;
}
.list-item-hover-in.list-item-waifu .mona-svg {
  transform: rotateX(180deg);
}
.list-item-hover-in.list-item-waifu .mona-svg .mona-path {
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 2s 0.5s ease-in-out;
}
.list-item-hover-in.list-item-waifu .water-curtain .mona {
  opacity: 1;
  transition: opacity 1s 1.5s;
}
