.list-item-hover-in.list-item-cv .mini-cv {
  animation: opacity-animation 0.5s forwards;
}
@keyframes opacity-animation {
  to {
    opacity: 0.3;
  }
}
.list-item-hover-in.list-item-cv .mini-cv .human {
  transition: bottom 0.7s 0.5s ease-out;
  bottom: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(1) {
  transition: left 1.4105082433s 1.2180188485s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(2) {
  transition: left 0.8348304387s 1.2416384223s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(3) {
  transition: left 0.6204904883s 1.2954013354s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(4) {
  transition: left 0.6170307544s 0.6000574701s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .details .line:nth-of-type(5) {
  transition: left 1.2627199854s 1.3220043914s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(1) {
  transition: left 0.7787400281s 0.6567840821s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(2) {
  transition: left 0.6670780119s 1.1368501682s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(3) {
  transition: left 1.1745474867s 1.0885592451s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(4) {
  transition: left 0.8750888198s 1.0638751724s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(5) {
  transition: left 0.8022166183s 1.382467276s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(6) {
  transition: left 0.6851627195s 0.6663121564s;
  left: 0%;
}
.list-item-hover-in.list-item-cv .mini-cv .content .line:nth-of-type(7) {
  transition: left 0.8278035275s 0.575407255s;
  left: 0%;
}

.list-item-hover-out.list-item-cv .mini-cv {
  animation: opacity-animation-reverse 1s forwards;
}
@keyframes opacity-animation-reverse {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}

@keyframes waifu-filter-animation {
  to {
    filter: blur(3px) grayscale(100%);
  }
}
.list-item-hover-in.list-item-waifu .background-image {
  animation: waifu-filter-animation 3s 0.5s forwards;
}
.list-item-hover-in.list-item-waifu .mona-svg {
  transform: rotateX(180deg);
}
.list-item-hover-in.list-item-waifu .water-curtain .mona, .list-item-hover-in.list-item-waifu .water-curtain .gray-mona {
  height: 100%;
  border-bottom: 3px solid gray;
}
.list-item-hover-in.list-item-waifu .water-curtain .mona {
  transition: height 1s 0.8s;
}
.list-item-hover-in.list-item-waifu .water-curtain .gray-mona {
  transition: height 1s 0.5s;
}

.list-item.list-item-hover-in {
  cursor: pointer;
  transition: box-shadow 0s 0s;
  box-shadow: 0px 0px 0px 0px white;
  animation: dimension-animation 0.3s 0.3s forwards;
}
@keyframes dimension-animation {
  to {
    height: 15rem;
    width: 10rem;
  }
}
@keyframes text-shadow-animation {
  to {
    text-shadow: 0px 0px 5px black;
  }
}
@keyframes cube-animation {
  to {
    transform: rotateX(-180deg);
  }
}
@keyframes image-container-animation {
  from {
    border: 0px solid white;
    box-shadow: 0px 0px 0px 0px black;
  }
  to {
    border: 1px solid white;
    box-shadow: 0px -3px 3px 0px black;
  }
}
@keyframes rotate-animation {
  from {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(45deg);
  }
}
@keyframes filter-animation {
  from {
    filter: grayscale(100%) blur(3px);
  }
  to {
    filter: grayscale(0%) blur(0px);
  }
}
.list-item.list-item-hover-in a {
  animation: text-shadow-animation 0.3s forwards;
}
.list-item.list-item-hover-in .cube {
  animation: cube-animation 0.3s forwards;
}
.list-item.list-item-hover-in .background-image-container {
  animation: image-container-animation 0.3s 0.3s forwards, rotate-animation 0.3s 0.6s forwards;
}

.list-item.list-item-hover-out {
  animation: dimension-animation-reverse 0.6s forwards;
}
@keyframes dimension-animation-reverse {
  0% {
    height: 15rem;
    width: 10rem;
  }
  50% {
    height: 3rem;
    width: 10rem;
  }
  100% {
    height: 3rem;
    width: 15rem;
  }
}
@keyframes text-shadow-animation-reverse {
  0%, 66% {
    text-shadow: 0px 0px 5px black;
  }
  100% {
    text-shadow: 0px 0px 0px black;
  }
}
@keyframes cube-animation-reverse {
  0%, 66% {
    transform: rotateX(-180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes image-container-animation-reverse {
  0%, 66% {
    border: 1px solid white;
    box-shadow: 0px -3px 3px 0px black;
  }
  100% {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 0px black;
  }
}
@keyframes rotate-animation-reverse {
  0%, 66% {
    transform: translate(-50%, -50%) rotateX(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
}
.list-item.list-item-hover-out .cube {
  animation: cube-animation-reverse 0.9s forwards;
}
.list-item.list-item-hover-out a {
  animation: text-shadow-animation-reverse 0.9s forwards;
}
.list-item.list-item-hover-out .background-image-container {
  animation: image-container-animation-reverse 0.9s forwards, rotate-animation-reverse 0.9s forwards;
}

.list-item.list-item-mouse-down {
  transform: translateY(5px);
}

.list-item.list-item-hover-in-siblings {
  opacity: 0;
  transition: 0.3s 0.3s;
}

.list-item {
  opacity: 1;
  transition: 0.3s;
}

.mini-cv {
  height: 100%;
  width: 100%;
  background: black;
  position: relative;
  display: grid;
  grid-template-areas: "photo details" "content content";
  padding: 10%;
  grid-gap: 5%;
  opacity: 0;
  transform: rotateZ(180deg);
}
.mini-cv .details .line:nth-of-type(1) {
  left: -100%;
}
.mini-cv .details .line:nth-of-type(2) {
  left: 100%;
}
.mini-cv .details .line:nth-of-type(3) {
  left: -100%;
}
.mini-cv .details .line:nth-of-type(4) {
  left: 100%;
}
.mini-cv .details .line:nth-of-type(5) {
  left: 100%;
}
.mini-cv .content .line:nth-of-type(1) {
  left: 100%;
}
.mini-cv .content .line:nth-of-type(2) {
  left: 100%;
}
.mini-cv .content .line:nth-of-type(3) {
  left: 100%;
}
.mini-cv .content .line:nth-of-type(4) {
  left: -100%;
}
.mini-cv .content .line:nth-of-type(5) {
  left: 100%;
}
.mini-cv .content .line:nth-of-type(6) {
  left: -100%;
}
.mini-cv .content .line:nth-of-type(7) {
  left: -100%;
}

.photo {
  grid-area: photo;
  background: white;
}
.photo .human {
  height: 100%;
  width: 100%;
  bottom: -100%;
  position: relative;
}
.photo .human .head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: black;
}
.photo .human .body {
  position: absolute;
  top: 50%;
  bottom: 0;
  background: black;
  height: 50%;
  width: 100%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.details {
  grid-area: details;
}

.content {
  grid-area: content;
}

.details,
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.line {
  height: 0.2rem;
  width: 100%;
  background: white;
  position: relative;
}
.line::after, .line::before {
  content: "";
  height: 0.2rem;
  width: 0.2rem;
  background: black;
  position: absolute;
  top: 0;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(1)::after {
  left: 10.5701215263%;
  width: 0.2783721228rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(1)::before {
  left: 78.6092521254%;
  width: 0.4451203879rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(2)::after {
  left: 1.7129297359%;
  width: 1.006658503rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(2)::before {
  left: 70.7226716319%;
  width: 0.1848758787rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(3)::after {
  left: 4.1738000713%;
  width: 0.3275588662rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(3)::before {
  left: 92.1370500984%;
  width: 0.6141008197rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(4)::after {
  left: 16.6503015107%;
  width: 0.2031545841rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(4)::before {
  left: 11.1277306075%;
  width: 0.8408462249rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(5)::after {
  left: 16.7466873199%;
  width: 0.159645234rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(5)::before {
  left: 83.3042925271%;
  width: 0.9122419868rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(1)::after {
  left: 17.5741758084%;
  width: 0.1990369444rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(1)::before {
  left: 65.6593203625%;
  width: 0.2429277545rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(2)::after {
  left: 14.4156091706%;
  width: 1.0928286536rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(2)::before {
  left: 38.9483333075%;
  width: 0.6783168025rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(3)::after {
  left: 57.3787518908%;
  width: 0.9958137599rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(3)::before {
  left: 75.9478837397%;
  width: 1.0544866708rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(4)::after {
  left: 51.1821173196%;
  width: 0.4878581043rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(4)::before {
  left: 15.1395056109%;
  width: 1.0083651379rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(5)::after {
  left: 3.9563424597%;
  width: 0.2687263843rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(5)::before {
  left: 41.2541648514%;
  width: 1.0454137943rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(6)::after {
  left: 70.3343783204%;
  width: 0.2465161628rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(6)::before {
  left: 5.202179749%;
  width: 0.5378588531rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(7)::after {
  left: 7.1916683147%;
  width: 0.2960809407rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(7)::before {
  left: 36.2191312739%;
  width: 0.2861836311rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(1)::after {
  left: 1.8390415942%;
  width: 0.6616113019rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(1)::before {
  left: 20.832355769%;
  width: 0.8377024799rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(2)::after {
  left: 7.3890739291%;
  width: 0.5622457494rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(2)::before {
  left: 49.5044406402%;
  width: 0.7869024927rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(3)::after {
  left: 77.6250398612%;
  width: 0.3989599599rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(3)::before {
  left: 17.3458039782%;
  width: 1.0598348948rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(4)::after {
  left: 67.9705534793%;
  width: 0.4673897852rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(4)::before {
  left: 16.3313376805%;
  width: 0.7130812004rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(5)::after {
  left: 22.3413155299%;
  width: 0.1040856582rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(5)::before {
  left: 88.546139659%;
  width: 0.5454345994rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(1)::after {
  left: 16.8695175635%;
  width: 0.4647578151rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(1)::before {
  left: 53.8067632067%;
  width: 0.2483459798rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(2)::after {
  left: 58.9824428909%;
  width: 0.7306487917rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(2)::before {
  left: 90.5875053302%;
  width: 0.5234300215rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(3)::after {
  left: 73.435554559%;
  width: 0.3526065411rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(3)::before {
  left: 63.2651805506%;
  width: 0.2713500148rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(4)::after {
  left: 67.0131062314%;
  width: 0.6521887728rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(4)::before {
  left: 79.9803119988%;
  width: 0.1831358726rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(5)::after {
  left: 48.3958847245%;
  width: 0.393818922rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(5)::before {
  left: 15.7938361527%;
  width: 0.6138505485rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(6)::after {
  left: 31.8443732127%;
  width: 1.0018587203rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(6)::before {
  left: 7.1617287952%;
  width: 1.007949412rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(7)::after {
  left: 77.1756771387%;
  width: 0.8514348355rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(7)::before {
  left: 41.9074924622%;
  width: 0.8093936508rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(1)::after {
  left: 81.675431068%;
  width: 0.6467828054rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(1)::before {
  left: 9.2182994142%;
  width: 0.3503649128rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(2)::after {
  left: 8.2882035767%;
  width: 0.7438117845rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(2)::before {
  left: 11.5694863529%;
  width: 0.2079633827rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(3)::after {
  left: 70.2728651086%;
  width: 0.8985333299rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(3)::before {
  left: 83.931092822%;
  width: 0.3878343592rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(4)::after {
  left: 4.533548737%;
  width: 0.6280926827rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(4)::before {
  left: 9.7301251766%;
  width: 0.1649611004rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(5)::after {
  left: 64.8617449914%;
  width: 0.8641651764rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(5)::before {
  left: 69.0429011524%;
  width: 0.9466503857rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(1)::after {
  left: 60.9319834582%;
  width: 0.1306605811rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(1)::before {
  left: 40.0601546001%;
  width: 0.4769653796rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(2)::after {
  left: 71.3543010141%;
  width: 0.6572004486rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(2)::before {
  left: 4.1364944488%;
  width: 1.0433230439rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(3)::after {
  left: 41.3466435885%;
  width: 0.2334742914rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(3)::before {
  left: 65.5664722852%;
  width: 0.9299973736rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(4)::after {
  left: 84.7923572171%;
  width: 0.2067383392rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(4)::before {
  left: 70.9769014955%;
  width: 0.9644137414rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(5)::after {
  left: 20.3429648222%;
  width: 0.1101502943rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(5)::before {
  left: 13.034720764%;
  width: 0.2563975349rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(6)::after {
  left: 21.3168105289%;
  width: 0.918353878rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(6)::before {
  left: 40.4414648491%;
  width: 0.9245098325rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(7)::after {
  left: 43.4594041563%;
  width: 0.5278061216rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(7)::before {
  left: 98.9822601367%;
  width: 0.9156221391rem;
}

.mona-svg {
  height: 100%;
  width: 100%;
}

.mona-path {
  opacity: 0;
  fill: none;
  stroke: black;
  stroke-width: 4rem;
}

.waifu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.water-curtain {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mask-image: url(../../../assets/image/mona_color.png);
  mask-size: 100%;
  mask-repeat: no-repeat;
  transform: rotateY(180deg) rotateZ(180deg);
  z-index: -1;
}

.curtain {
  height: 100%;
  width: 140%;
  background: black;
  position: absolute;
  left: -20%;
  bottom: -100%;
  z-index: 1;
  opacity: 0;
}

.gray-mona-container, .mona-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mona, .gray-mona {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../../assets/image/mona_color.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.mona, .gray-mona {
  height: 0%;
  width: 100%;
  border-bottom: 0px solid gray;
  transition: height 2s;
}

.mona {
  z-index: 2;
}

.gray-mona {
  filter: grayscale(100%);
  z-index: 1;
}

#list {
  height: 25rem;
  width: fit-content;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.background-cube {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.background-image-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.list-item {
  height: 3rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  opacity: 1;
  perspective: 600px;
  transition: box-shadow 0.5s 1s;
  box-shadow: 0px 0px 3px 0px white;
}
.list-item * {
  pointer-events: none;
}
.list-item a {
  font-size: large;
  color: white;
  pointer-events: none;
  user-select: none;
}
.list-item .background-image {
  filter: none;
}
.list-item .cube {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  /* transform: rotateY(90deg); */
  transition: transform 0.5s;
}
.list-item .cube .cube-face {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item .cube .cube-face-front {
  transform: translate(-50%, -50%) rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.list-item .cube .cube-face-back {
  transform: translate(-50%, -50%) rotateX(-90deg) translateY(50%) rotateX(-90deg);
}
.list-item .cube .cube-face-top {
  transform: translate(-50%, -50%) translateY(-50%) rotateX(90deg);
}
.list-item .cube .cube-face-bottom {
  transform: translate(-50%, -50%) translateY(50%) rotateX(-90deg);
}

.mouse-events-none {
  pointer-events: none;
}
