.mini-cv {
  height: 100%;
  width: 100%;
  background: black;
  position: relative;
  display: grid;
  grid-template-areas: "photo details" "content content";
  padding: 10%;
  grid-gap: 5%;
  opacity: 0;
  transform: rotateZ(180deg);
}
.mini-cv .details .line:nth-of-type(1) {
  left: 100%;
}
.mini-cv .details .line:nth-of-type(2) {
  left: 100%;
}
.mini-cv .details .line:nth-of-type(3) {
  left: -100%;
}
.mini-cv .details .line:nth-of-type(4) {
  left: 100%;
}
.mini-cv .details .line:nth-of-type(5) {
  left: -100%;
}
.mini-cv .content .line:nth-of-type(1) {
  left: 100%;
}
.mini-cv .content .line:nth-of-type(2) {
  left: -100%;
}
.mini-cv .content .line:nth-of-type(3) {
  left: -100%;
}
.mini-cv .content .line:nth-of-type(4) {
  left: -100%;
}
.mini-cv .content .line:nth-of-type(5) {
  left: 100%;
}
.mini-cv .content .line:nth-of-type(6) {
  left: -100%;
}
.mini-cv .content .line:nth-of-type(7) {
  left: -100%;
}

.photo {
  grid-area: photo;
  background: white;
}
.photo .human {
  height: 100%;
  width: 100%;
  bottom: -100%;
  position: relative;
}
.photo .human .head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: black;
}
.photo .human .body {
  position: absolute;
  top: 50%;
  bottom: 0;
  background: black;
  height: 50%;
  width: 100%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.details {
  grid-area: details;
}

.content {
  grid-area: content;
}

.details,
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.line {
  height: 0.2rem;
  width: 100%;
  background: white;
  position: relative;
}
.line::after, .line::before {
  content: "";
  height: 0.2rem;
  width: 0.2rem;
  background: black;
  position: absolute;
  top: 0;
}

.background-image-container:nth-of-type(1) .details .line:nth-of-type(1)::after {
  left: 11.7673361011%;
  width: 0.3939524137rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(1)::before {
  left: 14.1816022063%;
  width: 1.0436993041rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(2)::after {
  left: 41.6665267975%;
  width: 0.3488730081rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(2)::before {
  left: 90.9636542191%;
  width: 0.360121545rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(3)::after {
  left: 97.6876947777%;
  width: 0.2355752777rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(3)::before {
  left: 7.4846035977%;
  width: 0.7963176106rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(4)::after {
  left: 79.456795141%;
  width: 0.2125564661rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(4)::before {
  left: 56.0698569271%;
  width: 0.676334822rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(5)::after {
  left: 8.8644419948%;
  width: 0.913154706rem;
}
.background-image-container:nth-of-type(1) .details .line:nth-of-type(5)::before {
  left: 70.6248903789%;
  width: 1.0825337044rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(1)::after {
  left: 42.2234661467%;
  width: 0.3572940733rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(1)::before {
  left: 60.0677958254%;
  width: 0.3154876475rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(2)::after {
  left: 31.9245590275%;
  width: 0.9176117121rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(2)::before {
  left: 16.7470540654%;
  width: 0.6004279006rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(3)::after {
  left: 41.3222842688%;
  width: 0.2222421958rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(3)::before {
  left: 93.3734588257%;
  width: 0.9057664905rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(4)::after {
  left: 30.9676514262%;
  width: 0.7066803055rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(4)::before {
  left: 14.5391218055%;
  width: 0.4427575965rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(5)::after {
  left: 21.2000109904%;
  width: 0.8762554584rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(5)::before {
  left: 1.0508401427%;
  width: 0.5312909916rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(6)::after {
  left: 85.4193287085%;
  width: 0.4866768716rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(6)::before {
  left: 43.5280740198%;
  width: 0.4285303706rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(7)::after {
  left: 13.8620256365%;
  width: 0.6622792583rem;
}
.background-image-container:nth-of-type(1) .content .line:nth-of-type(7)::before {
  left: 5.5551488222%;
  width: 0.3778726171rem;
}

.background-image-container:nth-of-type(2) .details .line:nth-of-type(1)::after {
  left: 14.0080580331%;
  width: 0.6624974058rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(1)::before {
  left: 99.5768454452%;
  width: 0.9082511895rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(2)::after {
  left: 24.2493903969%;
  width: 0.8408768271rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(2)::before {
  left: 32.3999181566%;
  width: 0.1569673581rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(3)::after {
  left: 53.2919405582%;
  width: 0.9689526464rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(3)::before {
  left: 33.8806069644%;
  width: 0.8448988466rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(4)::after {
  left: 22.7597220172%;
  width: 0.987090409rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(4)::before {
  left: 75.2311607523%;
  width: 0.9228306698rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(5)::after {
  left: 88.5768251073%;
  width: 0.5719320611rem;
}
.background-image-container:nth-of-type(2) .details .line:nth-of-type(5)::before {
  left: 94.944681148%;
  width: 0.6265966895rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(1)::after {
  left: 76.930017107%;
  width: 0.5007855665rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(1)::before {
  left: 74.3941524956%;
  width: 0.7551231947rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(2)::after {
  left: 59.5401670334%;
  width: 0.1525491561rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(2)::before {
  left: 72.1330972015%;
  width: 0.2568147236rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(3)::after {
  left: 71.1237154845%;
  width: 0.8083559619rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(3)::before {
  left: 33.1382105315%;
  width: 0.8165380068rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(4)::after {
  left: 3.3148452973%;
  width: 1.0267029238rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(4)::before {
  left: 5.6949581858%;
  width: 0.4685130502rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(5)::after {
  left: 24.5060489779%;
  width: 0.9240412013rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(5)::before {
  left: 74.8445447846%;
  width: 0.3297511236rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(6)::after {
  left: 78.0401138705%;
  width: 1.0026225702rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(6)::before {
  left: 24.8723306904%;
  width: 0.5720596876rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(7)::after {
  left: 6.170372276%;
  width: 0.8365700273rem;
}
.background-image-container:nth-of-type(2) .content .line:nth-of-type(7)::before {
  left: 73.2433568718%;
  width: 0.1834636887rem;
}

.background-image-container:nth-of-type(3) .details .line:nth-of-type(1)::after {
  left: 35.2174623845%;
  width: 0.7174205802rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(1)::before {
  left: 88.4333286286%;
  width: 0.7551560214rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(2)::after {
  left: 10.3288292163%;
  width: 0.8080091243rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(2)::before {
  left: 6.2623381179%;
  width: 0.7335081505rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(3)::after {
  left: 10.9597936918%;
  width: 0.7805011047rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(3)::before {
  left: 16.1033267298%;
  width: 1.0113393438rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(4)::after {
  left: 51.9544515212%;
  width: 0.8454488427rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(4)::before {
  left: 49.4075615454%;
  width: 0.4508685928rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(5)::after {
  left: 74.6497898026%;
  width: 0.1292485516rem;
}
.background-image-container:nth-of-type(3) .details .line:nth-of-type(5)::before {
  left: 39.1360803999%;
  width: 0.1669029102rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(1)::after {
  left: 51.3713255723%;
  width: 1.0290538453rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(1)::before {
  left: 52.4912416022%;
  width: 0.1924746562rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(2)::after {
  left: 9.99452299%;
  width: 1.0593179784rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(2)::before {
  left: 85.2448370755%;
  width: 0.6398957642rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(3)::after {
  left: 54.827266492%;
  width: 0.7543064027rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(3)::before {
  left: 88.4299636596%;
  width: 0.7960463261rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(4)::after {
  left: 43.7130767602%;
  width: 0.7740690359rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(4)::before {
  left: 62.8351828836%;
  width: 0.2831010685rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(5)::after {
  left: 18.7896153158%;
  width: 0.7860011436rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(5)::before {
  left: 18.1092596031%;
  width: 0.1021047259rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(6)::after {
  left: 33.7695950096%;
  width: 0.5139126821rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(6)::before {
  left: 26.9640392639%;
  width: 0.452526208rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(7)::after {
  left: 80.0809823704%;
  width: 0.450510622rem;
}
.background-image-container:nth-of-type(3) .content .line:nth-of-type(7)::before {
  left: 77.4694727695%;
  width: 0.1261716186rem;
}
