@use "../utils" as *;
@import "../vars";

$about-theme-color: wheat;

.description {
    height: 10rem;
    width: 20rem;
    @include flex-center-items;
    flex-direction: column;
    row-gap: 2rem;
}

.section-container {
    height: fit-content;
    width: fit-content;
}

.section-container:hover {
    .section {
        .title {
            width: 2rem;
        }
        .icons {
            gap: 2rem;
            left: 4rem;
        }
    }
}

.section {
    position: relative;
    height: 4rem;
    width: 20rem;
}

.title {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $about-theme-color;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: width 0.3s;
    white-space: nowrap;
    overflow: hidden;
}

.icons {
    position: absolute;
    left: 0rem;
    height: 4rem;
    width: 20rem;
    display: flex;
    flex-direction: row;
    z-index: -1;
    
    gap: 0rem;
    transition: gap 0.3s, left 0.3s;
}

.icon {
    height: 100%;
    width: 4rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;

    &.pug {
        background-image: $pug-image;
        background-size: 90%;
    }
    
    &.scss {
        background-image: $scss-image;
        background-size: 90%;
    }

    &.autoprefixer {
        background-image: $autoprefixer-image;
        background-size: 90%;
    }
    
    &.cloudfront {
        background-image: $cloudfront-image;
    }
    
    &.s3 {
        background-image: $s3-image;
    }
    
    &.route53 {
        background-image: $route53-image;
    }
}

.icon:hover {
    background-color: $about-theme-color;
}


