/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
    --background-image: url("../image/66474729_p0.jpg");
}

* {
    /* outline: 1px solid red; */
    -webkit-transition: height 0.2s, width 0.2s, background-position 0s;
    -o-transition: height 0.2s, width 0.2s, background-position 0s;
    transition: height 0.2s, width 0.2s, background-position 0s;
}

*::-moz-selection {
    background-color: gray;
    color: white;
}

*::selection {
    background-color: gray;
    color: white;
}

#content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    row-gap: 5vh;
}

.background-image {
    background-image: var(--background-image);
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -99;
    background-size: cover;
    -webkit-filter: grayscale(100%) blur(5px);
    filter: grayscale(100%) blur(5px);
}

#title {
    font-size: xx-large;
    font-weight: bolder;
    color: wheat;
    min-width: 300px;
    text-align: center;
    line-height: 10rem;
    vertical-align: middle;
    overflow: hidden;
}

#list {
    height: 25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: black;
    font-weight: bold;
}

.list-item {
    height: 3rem;
    opacity: 1;
    width: 15rem;
    position: relative;
    max-width: 90vw;
}

.list-item>a {
    color: wheat;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 5px black;
    pointer-events: none;
}

.list-item:hover {
    font-size: x-large;
    color: rgb(165 84 108);
    cursor: pointer;
    border-color: rgb(165 84 108);
}

.stand-out {
    border: 2px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 50px 0px white;
    box-shadow: 0px 0px 50px 0px white;
}