:root {
    --background-image: url("../image/background.jpg");
}

* {
    transition: height 0.2s, width 0.2s;
}

*::selection {
    background-color: gray;
    color: white;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    max-height: 90vh;
    max-width: 90vw;
    row-gap: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-image {
    background-image: var(--background-image);
    background-size: cover;
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;
}

#background {
    z-index: -99;
    filter: grayscale(100%) blur(3px);
}

#title {
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke: 1px white;
    min-width: 300px;
    text-align: center;
    line-height: 10rem;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

#title::after {
    content: 'HEY ITS NOT READY';
    color: white;
    position: absolute;
    top: 0;
    left: 0;

    animation: flow-animation 4s ease-in-out infinite;
}

@keyframes flow-animation {
    0%, 100% {
        clip-path: polygon(0 51%, 10% 45%, 18% 39%, 27% 36%, 34% 41%, 40% 49%, 47% 55%, 56% 56%, 66% 54%, 75% 52%, 85% 52%, 94% 54%, 100% 55%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0 34%, 6% 42%, 13% 49%, 22% 55%, 33% 53%, 43% 48%, 53% 40%, 62% 34%, 72% 35%, 80% 40%, 87% 47%, 94% 53%, 100% 56%, 100% 100%, 0% 100%);
    }
}

/* list-item */

#list {
    height: 25rem;
    width: fit-content;
    color: black;
    font-weight: bold;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.list-item {
    height: 3rem;
    width: 15rem;
    opacity: 1;
    max-width: 90vw;
    perspective: 600px;
    transition: 
        border 0.3s,
        height 0.2s cubic-bezier(0, 0, 0, 1), 
        width 0.4s cubic-bezier(0, 0, 0, 1);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}

.list-item>* {
    pointer-events: none;
}

.clear {
    z-index: -1;
}

a {
    font-size: x-large;
    color: white;
    padding: 0;
    pointer-events: none;
    user-select: none;
}

.list-item-hover-in {
    cursor: pointer;
}


/* cube */

.cube {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    /* transform: rotateX(90deg); */
    transition: transform 0.5s;
}

.cube {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cube-face {
    height: 100%;
    width: 100%;
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
}

.cube-face-front {
    transform: translate(-50%, -50%) rotateY(-90deg) translateX(50%) rotateY(90deg);
}

.cube-face-left {
    transform: translate(-50%, -50%) translateX(-50%)  rotateY(-90deg);
}

.cube-face-right {
    transform: translate(-50%, -50%) translateX(50%) rotateY(90deg);
}

.cube-face-back {
    transform: translate(-50%, -50%) rotateY(90deg) translateX(50%) rotateY(90deg);
}

.cube-face-bottom {
    transform: translate(-50%, -50%) translateY(50%) rotateX(-90deg);
}

.cube-face-top {
    transform: translate(-50%, -50%) translateY(-50%) rotateX(90deg);
}

.cube-inner>.cube-face-top {
    transform: translate(-50%, -50%) translateY(-50%) rotateX(-90deg) rotateY(180deg);
}

.list-item-hover-in .cube-outer>.cube-face-front,
.list-item-hover-in .cube-outer>.cube-face-left,
.list-item-hover-in .cube-outer>.cube-face-right,
.list-item-hover-in .cube-outer>.cube-face-back {
    border: 1px solid white;
}

.list-item {
    border: 3px solid white;
    box-shadow: inset 0px 0px 100px 5px black;
}

.list-item:hover {
    border: 1px solid white;
}

.cube-face {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* list item hover */

.list-item-hover-in-siblings {
    opacity: 0.3;
}

.list-item-hover-in {
    height: 10rem;
    width: 30rem;
}

.list-item-mouse-down {
    height: 8rem;
    width: 28rem;
}

@keyframes outer-cube-animation-in {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

@keyframes inner-cube-animation-in {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(90deg);
    }
}

@keyframes outer-cube-animation-out {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

@keyframes inner-cube-animation-out {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

.list-item-hover-in .cube-outer {
    animation: outer-cube-animation-in 0.5s 0.4s forwards;
}

.list-item-hover-in .cube-inner {
    animation: inner-cube-animation-in 0.5s forwards;
}

.list-item-hover-out .cube-outer {
    animation: outer-cube-animation-out 0.5s forwards;
}

.list-item-hover-out .cube-inner {
    animation: inner-cube-animation-out 0.5s forwards;
}

