@use "../utils" as *;
@import "../vars";
@import "title";
@import "list-item";

* {
    transition: height 0.3s, width 0.3s;
}

*::selection {
    background-color: gray;
    color: white;
}

span,
a {
    white-space: nowrap;
}

.background-image {
    filter: grayscale(100%) blur(3px);
    z-index: -1;
}

#background {
    z-index: -99;
}

#content-wrapper {
    min-width: 20rem;
    flex-direction: column;
    row-gap: 5vh;
    overflow: hidden;
}