@use "../utils" as *;
@import "../base";
@import "title";
@import "list-item";

$background-image: url("../assets/image/background.jpg");

* {
    transition: height 0.3s, width 0.3s;
}

*::selection {
    background-color: gray;
    color: white;
}

span,
a {
    white-space: nowrap;
}

#clicked {
    color: whitesmoke;
}

// Wrappers & Background

#all-wrapper {
    @include dimension-viewport;
}

#content-wrapper {
    @include dimension-fit-content;
    @include absolute-center;
    @include flex-center-items;
    flex-direction: column;
    row-gap: 5vh;
    overflow: hidden;
}

.background-image {
    @include dimension-viewport;
    @include absolute-top-left;

    background-image: $background-image;
    background-size: cover;
    filter: grayscale(100%) blur(3px);
    z-index: -1;
}

#background {
    z-index: -99;
}