extends templates/construction

append stylesheets 
    link(rel="stylesheet", href="css/postcss-generated/about/about.css")

append scripts
    script(src="./js/about/about.js") 

append contents
    .description 
        .section
            .title This Website Is Built With ...
            .icons
                .icon.pug
                .icon.scss
                .icon.autoprefixer
        .section
            .title This Website is Hosted With ...
            .icons
                .icon.route53
                .icon.cloudfront
                .icon.s3
    //- .message
    //-     .title Want to say something?
    //-     .message-box
    //-         //- label(for="#message-input") Message
    //-         input(type='text', id='#message-input', name='message', placeholer='Write something interesting here ...') 

    #background-image
        

                                