doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Hello About

        // css
        link(rel="stylesheet", href="css/about/about.css")

    body
    #all-wrapper 
        #content-wrapper
            .description 
                section.section.section-built
                    .title
                        This Website Is Built With ...
                    .content
                        .section-item.pug
                        .section-item.scss
                        .section-item.autoprefixer
                section.section.section-host
                    .title
                        This Website is Hosted with ...
                    .content
                        .section-item.route53
                        .section-item.cloudfront
                        .section-item.s3
            #background-image

                                