extends templates/construction

append stylesheets 
    link(rel="stylesheet", href="css/postcss-generated/about/about.css")

append scripts
    script(src="./js/about/about.js") 

append contents
    .description 
        section.section.section-built
            .title
                .title-container
                    .span This Website Is Built With ...
            .content.section-item-container
                .section-item-icon.pug
                .section-item-icon.scss
                .section-item-icon.autoprefixer
        section.section.section-host
            .title.section-item-container
                .title-container
                    .span This Website is Hosted With ...
            .content.section-item-container
                .section-item-icon.route53
                .section-item-icon.cloudfront
                .section-item-icon.s3
    #background-image
        

                                