.description {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 3rem;
}

.section {
  position: relative;
  height: 4rem;
  width: 20vw;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 0vw;
  z-index: -1;
}

.title {
  height: 100%;
  width: 100%;
}
.title .title-container {
  height: 100%;
  width: 100%;
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.5s;
}

.section .title-container {
  transition: width 0.5s;
}
.section .content {
  transition: left 0.5s, column-gap 0.5s;
}

.section:hover .title-container {
  width: 8vw;
}
.section:hover .content {
  left: 50%;
  column-gap: 2vw;
}

.section-item-icon {
  height: 4rem;
  width: 4rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid white;
}
.section-item-icon.pug {
  background-image: url(../../../assets/image/pug.svg);
  background-size: 90%;
}
.section-item-icon.scss {
  background-image: url(../../../assets/image/scss.svg);
  background-size: 90%;
}
.section-item-icon.autoprefixer {
  background-image: url(../../../assets/image/autoprefixer.svg);
  background-size: 90%;
}
.section-item-icon.cloudfront {
  background-image: url(../../../assets/image/cloudfront.svg);
}
.section-item-icon.s3 {
  background-image: url(../../../assets/image/s3.svg);
}
.section-item-icon.route53 {
  background-image: url(../../../assets/image/route53.svg);
}
