.background-image {
  filter: blur(5px) grayscale(50%);
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
}

.message {
  height: 10rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#message-input {
  width: 100%;
  height: 5rem;
  display: inline-block;
}

.description {
  height: fit-content;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

.section {
  height: fit-content;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

.title {
  height: 4rem;
  width: 60%;
  background-color: #dac8a8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s;
  white-space: nowrap;
  overflow: hidden;
}

.icons {
  height: 4rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0rem;
  transition: gap 0.3s, left 0.3s;
}

.icon {
  height: 100%;
  width: 4rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid white;
}
.icon.pug {
  background-image: url(../../../assets/image/pug.svg);
  background-size: 90%;
}
.icon.scss {
  background-image: url(../../../assets/image/scss.svg);
  background-size: 90%;
}
.icon.autoprefixer {
  background-image: url(../../../assets/image/autoprefixer.svg);
  background-size: 90%;
}
.icon.cloudfront {
  background-image: url(../../../assets/image/cloudfront.svg);
}
.icon.s3 {
  background-image: url(../../../assets/image/s3.svg);
}
.icon.route53 {
  background-image: url(../../../assets/image/route53.svg);
}

.icon:hover {
  background-color: #dac8a8;
}
